.swag-counterator-text {
    font-size: 50px;
    font-weight: bolder;
    text-align: -webkit-center;
}

.swag-playa-text {
    font-size: 30px;
}

.swag-playa-icon {
    font-size: 1.5em !important;
}

.timer-box {
    background-color: #f5f5f5;
    border: 2px solid;
    border-radius: 25px;
    margin-top: 28px;
    margin-bottom: 47px;
}

.bubble { 
  animation:pulse 1s infinite; 
  -webkit-animation:pulse 1s infinite;
}

@keyframes pulse {
  0%      { transform:scale(1); }
  25%     { transform:scale(2); }
  75%     { transform:scale(1); }
}
@-webkit-keyframes pulse {
  0%      { -webkit-transform:scale(1); }
  25%     { -webkit-transform:scale(2); }
  75%     { -webkit-transform:scale(1); }
}

.hide {
    visibility: hidden;
}