<h3>100 Shots of Beer in 100 Minutes.</h3>
<br />

<p>Players:</p>
<ul ng-repeat="player in players">
    <li class=""> <label>{{ player.name }} - Level: {{ ranks[player.level] }} ({{player.level}})</label></li>
</ul>

<form ng-submit="addPlayer()">

    <div class="form-group">
        <input type="text" class="form-control" placeholder="New Player" ng-model="newPlayer">
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus" /> Add </button>
</form>

<br />

<p class="swag-counterator-text">{{ minutes }} m {{ seconds  }} s</p>
<div class="progress">
    <div id="progressbar" class="progress-bar progress-bar-striped active" role="progressbar" >
        <p>Get ready!</p>
    </div>
</div>
<p>debug counter: {{ counter }}</p>
<button type="button" class="btn btn-default" ng-click="debugPlus10()">Debug: Add 10 seconds</button>
<button type="button" class="btn btn-default" ng-click="start()">Start</button>
<button type="button" class="btn btn-default" ng-click="stop()">Pause</button>
<button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
<br />