 <!-- build:css(.tmp) styles/centurion.css -->
<link rel="stylesheet" href="styles/centurion.css">
<!-- endbuild -->

<h1>100 Shots of Beer in 100 Minutes.</h1>
<br />
<div class="timer-box">
    <p class="swag-counterator-text">{{ minutes }} m {{ seconds }} s</p>
    <div class="swag-counterator-text"><span ng-class="{bubble: getReady, hide: !getReady}">Get ready!</span></div>
    <progressbar max="max" value="seconds">
        <!--<span style="color:black; white-space:nowrap;">Get ready!</span>-->
    </progressbar>
</div>

<p class="swag-playa-text">Players:</p>
<ul class="list-group" ng-repeat="player in players">
    <li class="list-group-item" ng-click="openPlayerOptions(player)">

        <i class="glyphicon glyphicon-user swag-playa-icon"></i>
        <label class="swag-playa-text">{{ player.name }} - Level: {{ ranks[player.level] }}</label>
        <label class="badge swag-playa-text">Shots: {{player.level}}</label>
    </li>
</ul>
<form ng-submit="addPlayer()">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="New Player" ng-model="newPlayer">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus" /> Add </button>
        </span>
    </div>
</form>
<br />
<!--<div class="alert alert-danger" role="alert"><strong>It's time!</strong> Drink!</div>-->

<button type="button" class="btn btn-default" ng-click="debugPlus10()">Debug: Add 10 seconds</button>
<button type="button" class="btn btn-success" ng-click="start()">Start</button>
<button type="button" class="btn btn-warning" ng-click="stop()">Pause</button>
<button type="button" class="btn btn-danger" ng-click="reset()">Reset</button>

<br />

<script type="text/ng-template" id="playerOptions">
    <!-- build:css(.tmp) styles/PlayerOptions.css -->
    <link rel="stylesheet" href="styles/PlayerOptions.css">
    <!-- endbuild -->

    <p class="swag-playa-text title">Options</p>
    <div class="btn-group-vertical">
        <p>Change Name:</p>
        <div class="input-group renamebox">

            <input type="text" class="form-control renamebox" ng-model="playerOptionsNewName" placeholder="New name">
            <span class="input-group-btn renamebox">
                <button class="btn btn-default renamebox" type="submit" ng-click="closeThisDialog();updatePlayerName(selectedPlayer, playerOptionsNewName)">Update Name</button>
            </span>

        </div>
        <br />
        <div class="btn-group"><button type="button" class="btn-lg btn-warning btnPlayerOptions" ng-click="closeThisDialog();playerSkip(selectedPlayer);">Skip a turn</button></div>
        <br />
        <div class="btn-group"><button type="button" class="btn-lg btn-danger btnPlayerOptions" ng-click="closeThisDialog();playerGiveUp(selectedPlayer)">Give up!</button></div>
    </div>

</script>